<div class="container">
    <div class="col">
        <div class="row contenedor-tareas">

            <div class="mostrarTareas-buton">
                <button mat-flat-button (click)="lista()" color="primary">Lista de tareas pendientes</button>
            </div>

            <div class="lista-pendientes">
                @for (taskObjects of listaDeTodasLasTareasPendientes; track $index) {

                <form [formGroup]="modificarTarea">
                    <mat-expansion-panel class="expansion">

                        <mat-expansion-panel-header>
                            <mat-panel-title> {{taskObjects.nombre}}</mat-panel-title>

                            <mat-panel-description>
                                 {{taskObjects.description}}
                                <mat-icon>assignment</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        
                        <div class="data-task">
                            <mat-checkbox class="" formControlName="tareacompletada">Tarea completada</mat-checkbox>
                            <button mat-flat-button color="accent" class="actualizar-boton">Actualizar</button>
                            <button mat-flat-button color="primary" class="eliminar-boton">Eliminar</button>
                        </div>

                        <mat-divider></mat-divider>

                        <div class="task-information">
                            <p>Tarea activa desde: {{taskObjects.fechaInicio}}<p>
                            <p>Finalización de la tarea: {{taskObjects.fechaFin}}</p>
                            <p class="completar-dias">Tiempo para completar la tarea:   {{ calcularDiasParaCompletar(taskObjects.fechaInicio, taskObjects.fechaFin) }} dias</p>
                        </div>

                    </mat-expansion-panel>

                </form>
                }
            </div>
            
        </div>
    </div>
</div>