.contenedor-tareas {
    margin-top: 10px;
    justify-content: center;
}

.lista-pendientes {
    width: 60%;
}

.data-task { 
    margin-bottom: 10px;
}

.actualizar-boton {
    margin-left: 40%;
    margin-right: 20px;
}

.task-information { 
    margin-top: 10px;
}

.expansion {
    margin-top: 10px;
    margin-bottom: 10px;
}
.completar-dias{
    color: blue;
}