.contenedor-tareas {
    margin-top: 10px;
    justify-content: center;
}

.lista-pendientes {
    width: 60%;
}

.data-task { 
    text-align: end;
    margin-bottom: 10px;
}

.actualizar-boton {
    margin-left: 40%;
    margin-right: 20px;
}

.task-information { 
    margin-top: 10px;
    width: 40%;
}

.expansion {
    margin-top: 10px;
    margin-bottom: 10px;
}
.completar-dias{
    color: blue;
}

p {
    font-size: 16px;
}

.detalles-task{
    margin-top: 15px;
}

.detalles-parrafo {
    font-size: 16px;
}