<div class="container">
    <div class="col">
        <div class="row contenedor-tareas">

            <div class="mostrarTareas-buton">
                <button mat-flat-button (click)="lista()" color="primary">Lista de tareas pendientes</button>
            </div>

            <div class="lista-pendientes">
                @for (taskObjects of listaDeTodasLasTareasPendientes; track $index) {

                    <mat-expansion-panel class="expansion">

                        <mat-expansion-panel-header>
                            <mat-panel-title> {{taskObjects.nombre}}</mat-panel-title>

                            <mat-panel-description>
                                Tarea activa desde: {{taskObjects.fechaInicio}}
                                <mat-icon>assignment</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        
                        <div class="data-task">
                            @if (taskObjects.tareaCompletada == true) {
                                <mat-checkbox [disabled]="checkBoxControl" checked="true">Tarea completada</mat-checkbox>
                            } @else{
                                <mat-checkbox [disabled]="checkBoxControl" checked="false">Tarea completada</mat-checkbox>
                            } 
                        </div>

                        <mat-divider></mat-divider>

                        <div class="detalles-task">
                            <p class="detalles-parrafo">{{taskObjects.description}}</p>
                        </div>

                        <div class="task-information">
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                                <mat-chip-option>Finalización de la tarea: {{taskObjects.fechaFin}}</mat-chip-option>
                                <mat-chip-option selected>Tiempo para completar la tarea: {{ calcularDiasParaCompletar(taskObjects.fechaInicio, taskObjects.fechaFin) }} dias</mat-chip-option>
                            </mat-chip-listbox>
                        </div>

                    </mat-expansion-panel>

                }
            </div>
            
        </div>
    </div>
</div>