<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card appearance="outlined" class="stylecard">
            <mat-card-content>
                <h2>Agregar tarea</h2>

                <!-- Formulario para la nueva tarea pendiente -->
                <form [formGroup]="nuevaTarea">

                    <div class="row-data-task">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre de la tarea" formControlName="nombre">
                            <mat-hint>Escribe un titulo breve</mat-hint>
                        </mat-form-field>
                        
                        <mat-checkbox class="pendiente-task" formControlName="pendiente">Pendiente</mat-checkbox>

                        <mat-form-field appearance="outline" class="textarea-style">
                            <mat-label>Tarea a realizar</mat-label>
                            <textarea matInput formControlName="descripcion"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="rango-fechas">
                        <h3>Establece dias a terminar la tarea establecida</h3>

                        <mat-form-field class="fecha-inicio">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechainicio">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="fecha-fin">
                            <mat-label>Fecha a terminar</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechafin">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                    </div>

                </form>

                <div class="style-button-add">
                    <button mat-fab extended color="primary" class="boton-agregar" (click)="agregarNuevaTarea()">
                        <mat-icon>task_alt</mat-icon>
                        Agregar
                    </button>
                </div>

            </mat-card-content>
          </mat-card> 

    </mat-grid-tile>
  </mat-grid-list>
  