<mat-toolbar>
    <button
      mat-icon-button
      aria-label="Menú desplegable"
      [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span>Aplicación ToDo</span>
    <span class="example-spacer"></span>
  
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Tareas" >
      <mat-icon>task</mat-icon>
    </button>
  </mat-toolbar>
  
  <!-- Menú desplegable -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="panelPrincipal()">
      <mat-icon>home</mat-icon>
      <span>Panel</span>
    </button>

    <button mat-menu-item (click)="agregarTarea()">
      <mat-icon>add_task</mat-icon>
      <span>Agregar tarea</span>
    </button>

    <button mat-menu-item (click)="listaDeTareas()">
      <mat-icon>list_alt</mat-icon>
      <span>Lista de tareas pendientes</span>
    </button>
</mat-menu>
  